/* add your CSS here */
.page{
    margin: auto;
    border: 1px solid #C1C1C1FF;
    width: 330px;
    padding: 10px;
    box-shadow: 8px 6px 4px 0px rgba(214,214,214,1);
}
img{
	padding: 0px 5px 5px 12px;
    margin: auto;
    width: 300px;
}
.description{
	border: 1px solid #C1C1C1FF;
	width: 300px;
	margin: auto;
	padding: 0px 5px 5px 7px;
}
.elements {
	list-style: none;
  padding-left: 0px;
}
.list{
	font-weight: bold;
}